	html, body
	{
		height: 100%;
		width: 100%;
		scroll-behavior: smooth;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		//background: #F6F4F3;
		background: #B0A990;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 400;
		color: #B0A990;
		width: 100%;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	a
	{
		color: #B5FFE1;
		text-decoration: none;
		font-weight: bold;
	}
	
	a:hover
	{
		text-decoration: underline;
		font-weight: bold;
	}
	
	.container
	{
	
		width: 1200px;
		margin: 0px auto;
		 //padding-top: 73px;
	}
	
	.contact
	{
		//width: 1200px;
		margin: 0px auto;
		position:relative;
		padding-top: 30px;
	}
	
.anchor a {
  position: absolute;
  left: 0px;
  top: -73px;
}
	
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		background: #003047;
		 z-index:1000;
	}
	
	.sticky {
  position: fixed;
  top: 0;
  width: inherit;
}

.sticky + .headerbuffer {
  padding-top: 73px;
}	
	
/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu ul
	{
		margin: 0;
		padding: 5px 0px 5px 0px;
		list-style: none;
		line-height: normal;
		text-align: center;
	}
	
	#menu li
	{
		display: inline-block;
		vertical-align: middle;
	}
	
	#menu a
	{
		display: inline-block;
		padding: 1em 1.5em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1em;
		font-weight: 700;
		color: #FFF;
		transition: transform .2s;
	}	

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.video
	{
	display: block;
		margin: auto;
	}

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 0 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: auto;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
	}




/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		overflow:  hidden;
		margin: 0em 0 3em 0;
		padding-top: 1em;
		text-align: center;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #FFFFFF;
	}

/*********************************************************************************/
/* Major Styles                                                                  */
/*********************************************************************************/

	.major
	{
		overflow: hidden;
		margin-bottom: 2em;
		text-align: center;
	}
	
	.major h2
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-size: 3em;
		font-weight: 700;
		color: #3f3f3f;
	}

	.major .byline
	{
		display: block;
		padding-top: 0.2em;
		font-weight: 300;
		font-size: 2em;
	}

/*********************************************************************************/
/* Title Styles                                                                  */
/*********************************************************************************/

	.title
	{
		text-align: center;
	}
	
	.title h2
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-weight: 700;
		color: #3f3f3f;
	}

	.title .byline
	{
		display: block;
		padding-top: 1em;
		font-weight: 300;
		font-size: 1.1em;
	}


/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		margin: 1em 0em;
		padding: 1em 3em 1em 3em;
		background: #3f3f3f;
		letter-spacing: 0.20em;
		text-decoration: none;
		text-align: center;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #FFF;
	}
	
	.button:before
	{
	}
		


/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		padding: 2em 0em;
		text-transform: uppercase;
	}

	#logo h1
	{
		text-align: center;
		font-weight: 900;
		font-size: 2.5em;
	}
	
	#logo h1 a
	{
	}

	#logo span
	{
		padding: 0em 0em 0em 0.5em;
	}
	
	#logo h1:before
	{
		
	}
	
	#logo a 
	{
		color: #3f3f3f;
	}




/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	.page
	{
		overflow: hidden;
		border-top: 2px solid #E5E5E5;
		width: 600px;
		margin: 0px auto;
	 position: relative;
	}



/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
		float: left;
		width: 600px;
		padding-bottom: 50px;
		padding-top: 30px;
	}
	
	#content .title
	{
		padding-bottom: 2em;
		text-align: left;
	}
	
	#content h2
	{
		font-size: 2em;
	}
	
	#content .byline
	{
		padding-top: 0;
		font-size: 1.5em;
	}
	
	#content p
	{
		text-align: justify;
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
		float: right;
		width: 588px;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: #6F6F6F;
	}
	
	#copyright a
	{
		text-decoration: none;
		color: #8C8C8C;
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

.center-div {
  margin: auto;
  width: 200px;
}

	.img-circle
{
    display: block;
    margin: auto;
    border-radius: 50%;
}


	.featured-wrapper
	{
		position: relative;
		overflow: hidden;
		padding: 0em 0em;
		background: #e4ecf6;
		//#D3DEED;
		padding-top: 30px;
		padding-bottom: 30px;
		
		//border: 2px solid #c9c9c9;
	}
	
	#featured h2
	{
		text-align: center;
	}

	#featured .icon
	{
		position: relative;
		display: block;
		margin: 0px auto 20px auto;
		line-height:  normal;
		font-size: 6em;
		text-align: center;
		color: #3f3f3f;
	}

	.column
	{
		width: 33.33%;
		height: 400px;
		float: left;
		margin: auto;
	}
	
	.cvtable
	{
		margin: auto;
	}
	
	td {
	height: 120px; 
}


/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

	.portfolio-wrapper
	{
			padding: 0em 0em;
			position: relative;
			padding-top: 30px;
	}
	
	#portfolio
	{
		overflow: hidden;
		text-align: center;
	}
	
	#portfolio img
	{
		margin: 0;
		padding: 0;
	}
	
	#portfolio .box
	{
		padding: 30px;
		background: #FFF;
		border-bottom: 2px solid #7C7C7C;
		border-right: 1px solid #DADADA;
		border-left: 1px solid #DADADA;
	}
	
	
/*********************************************************************************/
/* Research Box                                                                  */
/*********************************************************************************/

	.research_box
	{
		text-align: center;
	}
	
	.research_box h2
	{
		display: block;
		padding-top: 0.2em;
		font-weight: 300;
		font-size: 1.5em;
	}	
	
	.image-centered
	{
		width: 90.0%;
	}
	

